/*@Jenny Zheng 2020*/
* 
{
    padding: 0;
    margin: 0;
    font-family: playfair-display, serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

header 
{
    width: 100vw;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5223a766e4b0a07a9893b1cb/1478618020878-SD3K8QJUKS86VRJHLUXF/ke17ZwdGBToddI8pDm48kEH8NjoedwmXMWM1Y05RPZ17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iy8Rj2bPXFyaluz0PeKicM99XUAZZ4vYM9zGDkJVpGPVPvo6NH8fvxWQSfmZeQ4eQ/kathleen+nyn+banner+watercolor+2+medium.jpg?format=1500w");
    background-color: rgba(10,186,181, 0.55);
    height: 270px;
    display: flex; /*defines a flex container, says that header is a flex container now*/
    position: relative;
    flex-direction: column;
    justify-content: center; /*Horizontal alignment*/
    align-items: center; /*Vertical alignment*/
    color: rgb(33, 33, 33);
    line-height: 400%;
}

header .name
{
  font-family: playfair-display, serif;
  font-weight: 900 !important;
  font-style: italic !important;
  font-size: 22pt;
  position: absolute;
  top: 90x;
}

header .social-nav 
{
    position: absolute;
    bottom: -20%;
}
  
header .social-nav ul 
{
    list-style-type: none;
    margin: 0;
}
  
header .social-nav ul li 
{
  display: inline-block; /*Display horizontally*/
  width: 60px;
  height: 60px;
  margin-right: 1.5em;
}
  
header .social-nav ul li:last-child 
{
  margin-right: 0;
}

header .social-nav ul li a 
{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 3px solid white;
}

header .social-nav .sn-email
{
  background: url('./images/mail.svg') no-repeat 50% 50%;
  background-size: 50%;
  background-color: #1DA1F2;
}

header .social-nav .sn-github
{
  background: url('./images/github.svg') no-repeat 55% 50%;
  background-size: 60%;
  background-color: #E1306C;
}

header .social-nav .sn-linkedin
{
  background: url('./images/linkedin2.svg') no-repeat 50% 50%;
  background-color: #77A8B1;
}

header .navigationBar
{
  overflow: hidden;
  background-color: rgba(10,186,181, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
}

header .navigationBar a 
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 17px;
}

header .navigationBar a:hover 
{
  background: #ddd;
  color: black;
}

#contactMe
{
  font-weight: 900 !important;
  font-style: italic !important;
  font-size: 18pt;
  left:50%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

#messageField
{
  height: 250px;
  resize:both;
  text-align: left;
}

/*===== // Contact Form =====*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea 
{
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

button[type=submit]
{
  background-color: rgba(10,186,181, 0.55);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover 
{
  background-color: rgb(10,186,181);
}

/* Add a background color and some padding around the form */
.container 
{
  width: 60%;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
}

/*===== // Contact Form =====*/

/*===== // Responsive Contact Form Optimization =====*/
@media only screen and (min-width: 700px) 
{
  header .shortbio
  {
    display: none;
  }
  
  header .longbio
  {
    font-family: playfair-display,serif;
    font-weight: 400 !important;
    font-style: italic !important;
    position: absolute;
    top: 170px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 700px) 
{
  header 
  {
      height: 210px;
  }

  header .longbio
  {
    display: none;
  }

  header .shortbio
  {
    font-family: playfair-display,serif;
    font-weight: 400 !important;
    font-style: italic !important;
    position: absolute;
    top: 170px;
    margin: 0 auto;
  }

  header .navigationBar
  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 0;
  }

  header .navigationBar a 
  {
    padding: 0px 15px;
    font-size: 15px;
  }

  header .navigationBar a:hover 
  {
    background: #ddd;
    color: black;
  }

  header .name
  {
    font-family: playfair-display, serif;
    font-weight: 900 !important;
    font-style: italic !important;
    font-size: 22pt;
    position: absolute;
    top: 90x;
  }

  header .shortbio
  {
    font-family: playfair-display,serif;
    font-weight: 400 !important;
    font-style: italic !important;
    position: absolute;
    top: 110px;
    margin: 0 auto;
    font-size: 13px;
  }

  header .social-nav 
  {
      position: absolute;
      bottom: -23%;
  }
    
  header .social-nav ul li 
  {
    display: inline-block; /*Display horizontally*/
    width: 50px;
    height: 50px;
    margin-right: 2em;
  }

  header .social-nav ul li a 
{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid white;
}

  .container
  {
    width: 90%
  }
}

footer
{
  display: flex;
  margin-top: 10px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5223a766e4b0a07a9893b1cb/1478618020878-SD3K8QJUKS86VRJHLUXF/ke17ZwdGBToddI8pDm48kEH8NjoedwmXMWM1Y05RPZ17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iy8Rj2bPXFyaluz0PeKicM99XUAZZ4vYM9zGDkJVpGPVPvo6NH8fvxWQSfmZeQ4eQ/kathleen+nyn+banner+watercolor+2+medium.jpg?format=1500w");
  /*background: #77A8B1;*/
  height: 50px;
  position: relative;
  flex-direction: column;
  justify-content: center; /*Horizontal alignment*/
  align-items: center; /*Vertical alignment*/
}

footer .endnote
{
  text-align: center;
  font-size: 8pt;
}
