/*@Jenny Zheng 2020*/
* 
{
    padding: 0;
    margin: 0;
    font-family: playfair-display, serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

header 
{
    width: 100vw;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5223a766e4b0a07a9893b1cb/1478618020878-SD3K8QJUKS86VRJHLUXF/ke17ZwdGBToddI8pDm48kEH8NjoedwmXMWM1Y05RPZ17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iy8Rj2bPXFyaluz0PeKicM99XUAZZ4vYM9zGDkJVpGPVPvo6NH8fvxWQSfmZeQ4eQ/kathleen+nyn+banner+watercolor+2+medium.jpg?format=1500w");
    background-color: rgba(10,186,181, 0.55);
    height: 270px;
    display: flex; /*defines a flex container, says that header is a flex container now*/
    position: relative;
    flex-direction: column;
    justify-content: center; /*Horizontal alignment*/
    align-items: center; /*Vertical alignment*/
    color: rgb(33, 33, 33);
    line-height: 400%;
}

header .name
{
  font-family: playfair-display, serif;
  font-weight: 900 !important;
  font-style: italic !important;
  font-size: 22pt;
  position: absolute;
  top: 90x;
}

header .social-nav 
{
    position: absolute;
    bottom: -20%;
}
  
header .social-nav ul 
{
    list-style-type: none;
    margin: 0;
}
  
header .social-nav ul li 
{
  display: inline-block; /*Display horizontally*/
  width: 60px;
  height: 60px;
  margin-right: 1.5em;
}
  
header .social-nav ul li:last-child 
{
  margin-right: 0;
}

header .social-nav ul li a 
{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 3px solid white;
}

header .social-nav .sn-medium
{
  background: url('./images/medium.svg') no-repeat 50% 50%;
  background-color: #1DA1F2;
}

header .social-nav .sn-instagram 
{
  background: url('./images/instagram2.svg') no-repeat 50% 50%;
  background-color: #E1306C;
}

header .social-nav .sn-linkedin
{
  background: url('./images/linkedin2.svg') no-repeat 50% 50%;
  background-color: #77A8B1;
}

header .navigationBar
{
  overflow: hidden;
  background-color: rgba(10,186,181, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
}

header .navigationBar a 
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 17px;
}

header .navigationBar a:hover 
{
  background: #ddd;
  color: black;
}

#education
{
  font-weight: 900 !important;
  font-style: italic !important;
  font-size: 18pt;
  left:50%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

body 
{
  background: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}


/*===== Vertical Timeline =====*/
#conference-timeline 
{
  position: relative;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}

#conference-timeline .conference-center-line 
{
  position: absolute;
  width: 3px;
  height: 90%;
  top: 60px;
  left: 50%;
  margin-left: -2px;
  background: rgb(10,186,181);
  z-index: -1;
}

#conference-timeline .conference-timeline-content 
{
  padding-top: 67px;
  padding-bottom: 67px;
}

.timeline-article 
{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}
.timeline-article .content-left-container,
.timeline-article .content-right-container 
{
  max-width: 44%;
  width: 100%;
}

.timeline-article .timeline-author 
{
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #242424;
  text-align: right;
}

.timeline-article .content-left,
.timeline-article .content-right 
{
  position: relative;
  width: auto;
  border: 1px solid #ddd;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5223a766e4b0a07a9893b1cb/1478618020878-SD3K8QJUKS86VRJHLUXF/ke17ZwdGBToddI8pDm48kEH8NjoedwmXMWM1Y05RPZ17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iy8Rj2bPXFyaluz0PeKicM99XUAZZ4vYM9zGDkJVpGPVPvo6NH8fvxWQSfmZeQ4eQ/kathleen+nyn+banner+watercolor+2+medium.jpg?format=1500w");
  /*background-color: #e6e6e6;*/
  box-shadow: 0 1px 3px rgba(0,0,0,.03);
  padding: 27px 25px;
}

.timeline-article p 
{
  margin: 0 0 0 60px;
  padding: 0;
  font-weight: 400;
  color: black;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}

.timeline-article p span.article-number 
{
  position: absolute;
  font-weight: 300;
  font-size: 44px;
  top: 10px;
  left: -60px;
  color: white;
}

.timeline-article .content-left-container 
{
  float: left;
}
.timeline-article .content-right-container 
{
  float: right;
}
.timeline-article .content-left:before,
.timeline-article .content-right:before
{
  position: absolute;
  top: 20px;
  font-size: 23px;
  font-family: "FontAwesome";
  color: #fff;
}

.timeline-article .meta-date {
  position: absolute;
  top: 0;
  left: 50%;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  color: #fff;
  border-radius: 100%;
  background: rgb(10,186,181);
}
.timeline-article .meta-date .date,
.timeline-article .meta-date .month {
  display: block;
  text-align: center;
  font-weight: 900;
}
.timeline-article .meta-date .date {
  font-size: 20px;
  line-height: 40px;
}
.timeline-article .meta-date .month {
  font-size: 15px;
  line-height: 0px;
}
/*===== // Vertical Timeline =====*/

/*===== Resonsive Vertical Timeline =====*/
@media only screen and (min-width: 700px) 
{
  header .shortbio
  {
    display: none;
  }
  
  header .longbio
  {
    font-family: playfair-display,serif;
    font-weight: 400 !important;
    font-style: italic !important;
    position: absolute;
    top: 170px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 700px) 
{
  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    margin: 0;
  }
  #conference-timeline .conference-center-line {
    margin-left: 0;
    left: 50px;
  }
  .timeline-article .meta-date {
    margin-left: 0;
    left: 20px;
  }

  #conference-timeline .conference-timeline-content 
  {
    padding-top: 0px;
    padding-bottom: 67px;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    float: none;
    margin-left: 110px;
    margin-right: 30px;
    min-height: 53px;
  }
  .timeline-article .content-left-container {
    margin-bottom: 20px;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    padding: 10px 25px;
    min-height: 65px;
  }
  .timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
  .timeline-article .content-right:before {
    display: none;
  }

  header 
  {
      height: 210px;
  }

  header .longbio
  {
    display: none;
  }

  header .shortbio
  {
    font-family: playfair-display,serif;
    font-weight: 400 !important;
    font-style: italic !important;
    position: absolute;
    top: 170px;
    margin: 0 auto;
  }

  header .navigationBar
  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 0;
  }

  header .navigationBar a 
  {
    padding: 0px 15px;
    font-size: 15px;
  }

  header .navigationBar a:hover 
  {
    background: #ddd;
    color: black;
  }

  header .name
  {
    font-family: playfair-display, serif;
    font-weight: 900 !important;
    font-style: italic !important;
    font-size: 22pt;
    position: absolute;
    top: 90x;
  }

  header .shortbio
  {
    font-family: playfair-display,serif;
    font-weight: 400 !important;
    font-style: italic !important;
    position: absolute;
    top: 110px;
    margin: 0 auto;
    font-size: 13px;
  }

  header .social-nav 
  {
      position: absolute;
      bottom: -23%;
  }
    
  header .social-nav ul li 
  {
    display: inline-block; /*Display horizontally*/
    width: 50px;
    height: 50px;
    margin-right: 2em;
  }

  header .social-nav ul li a 
{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid white;
}

}
@media only screen and (max-width: 400px) {
  .timeline-article p {
    margin: 0;
  }
  .timeline-article p span.article-number {
    display: none;
  }
  
}
/*===== // Resonsive Vertical Timeline =====*/







footer
{
  display: flex;
  margin-top: 10px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5223a766e4b0a07a9893b1cb/1478618020878-SD3K8QJUKS86VRJHLUXF/ke17ZwdGBToddI8pDm48kEH8NjoedwmXMWM1Y05RPZ17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iy8Rj2bPXFyaluz0PeKicM99XUAZZ4vYM9zGDkJVpGPVPvo6NH8fvxWQSfmZeQ4eQ/kathleen+nyn+banner+watercolor+2+medium.jpg?format=1500w");
  /*background: #77A8B1;*/
  height: 50px;
  position: relative;
  flex-direction: column;
  justify-content: center; /*Horizontal alignment*/
  align-items: center; /*Vertical alignment*/
}

footer .endnote
{
  text-align: center;
  font-size: 8pt;
}
