/*@Jenny Zheng 2020*/
* 
{
    padding: 0;
    margin: 0;
    font-family: playfair-display, serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

header 
{
    width: 100vw;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5223a766e4b0a07a9893b1cb/1478618020878-SD3K8QJUKS86VRJHLUXF/ke17ZwdGBToddI8pDm48kEH8NjoedwmXMWM1Y05RPZ17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iy8Rj2bPXFyaluz0PeKicM99XUAZZ4vYM9zGDkJVpGPVPvo6NH8fvxWQSfmZeQ4eQ/kathleen+nyn+banner+watercolor+2+medium.jpg?format=1500w");
    background-color: rgba(10,186,181, 0.55);
    height: 270px;
    display: flex; /*defines a flex container, says that header is a flex container now*/
    position: relative;
    flex-direction: column;
    justify-content: center; /*Horizontal alignment*/
    align-items: center; /*Vertical alignment*/
    color: rgb(33, 33, 33);
    line-height: 400%;
}

header .name
{
  font-family: playfair-display, serif;
  font-weight: 900 !important;
  font-style: italic !important;
  font-size: 22pt;
  position: absolute;
  top: 90x;
}

header .social-nav 
{
    position: absolute;
    bottom: -20%;
}
  
header .social-nav ul 
{
    list-style-type: none;
    margin: 0;
}
  
header .social-nav ul li 
{
  display: inline-block; /*Display horizontally*/
  width: 60px;
  height: 60px;
  margin-right: 1.5em;
}
  
header .social-nav ul li:last-child 
{
  margin-right: 0;
}

header .social-nav ul li a 
{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 3px solid white;
}

header .social-nav .sn-medium
{
  background: url('./images/medium.svg') no-repeat 50% 50%;
  background-color: #1DA1F2;
}

header .social-nav .sn-instagram 
{
  background: url('./images/instagram2.svg') no-repeat 50% 50%;
  background-color: #E1306C;
}

header .social-nav .sn-linkedin
{
  background: url('./images/linkedin2.svg') no-repeat 50% 50%;
  background-color: #77A8B1;
}

header .navigationBar
{
  overflow: hidden;
  background-color: rgba(10,186,181, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
}

header .navigationBar a 
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 17px;
}

header .navigationBar a:hover 
{
  background: #ddd;
  color: black;
}

#skills-section 
{
  list-style: none;
  background: white;
  left: 50%;
}

#skills 
{
  font-weight: 900 !important;
  font-style: italic !important;
  font-size: 18pt;
  left:50%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

#skills-list-1
{
  top: 0px;
  left: 0px;
}

#header-1
{
  text-align: center;
  margin-bottom: 10px;
}

.wrapper 
{
  max-width: 4400px;
  margin: 0 auto;
  position: relative;
  padding-top: 0; 
}

@media screen and (max-width: 4400px) 
{
    .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center; }
    }

.list 
{
  width: 550px;
  display: inline-block; 
}

.list li 
{
  margin: 20px 0; 
}

.bar 
{
  background: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  display: block;
  height: 34px;
  /*border: 1px solid rgba(0, 0, 0, 0.2);*/
  border-radius: 0px;
  overflow: hidden;
  padding: 1px; 
}
  
.bar span 
{
  height: 30px;
  float: left;
  /*background-image: linear-gradient(to right, rgba(255, 197, 158),rgba(0, 138, 157));*/
  background-color: rgba(0, 138, 157, 0.8);
  border-radius: 4px;
  display: flex;
  padding: 0 15px;
  line-height: 35px;
  color: white; 
}

.lang1[data-scroll="in"] 
{
  width: 95%;
  animation: java 2s;
  margin-top: 0; 
}

.lang2[data-scroll="in"] 
{
  width: 80%;
  animation: python 2s; 
}

.lang3[data-scroll="in"] 
{
  width: 50%;
  animation: cplusplus 2s; 
}

.lang4[data-scroll="in"] 
{
  width: 50%;
  animation: matlab 2s; 
}

.lang5[data-scroll="in"] 
{
  width: 80%;
  animation: octave 2s; 
}

.lang6[data-scroll="in"] 
{
  width: 95%;
  animation: htmlcss 2s; 
}
  
@keyframes java 
{
  0% {
    width: 0%; }
  100% {
    width: 95%; } 
}

@keyframes python 
{
  0% {
    width: 0%; }
  100% {
    width: 80%; } 
}

@keyframes cplusplus 
{
  0% {
    width: 0%; }
  100% {
    width: 50%; } 
}

@keyframes matlab 
{
  0% {
    width: 0%; }
  100% {
    width: 50%; } 
}

@keyframes octave 
{
  0% {
    width: 0%; }
  100% {
    width: 80%; } 
}

@keyframes htmlcss 
{
  0% {
    width: 0%; }
  100% {
    width: 95%; } 
} 

section.AreasOfExperience
{
  margin-top: 50px;
  background-color: white;
}

#header-2
{
  font-weight: 900 !important;
  font-style: italic !important;
  font-size: 18pt;
  left:50%;
  text-align: center;
  margin-bottom: 10px;
}

#AreasOfExperience
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

#ExperienceChildren
{
  height: 300px;
  width: 25%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.container 
{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;  
  justify-content: center;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  border-radius: 10px;
  border-color: grey;
}

.container .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: 0.7s;
  z-index: 1;
}

.container .card:nth-child(1) .icon {
  background-image: url(./images/Certificates_Kaggle_Pandas.png);
  background-size: 96%;
  background-repeat: no-repeat;
  background-position: center;
}

.container .card:nth-child(2) .icon {
  background-image: url(./images/CTL.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.container .card:nth-child(3) .icon {
  background-image: url(https://qph.fs.quoracdn.net/main-qimg-a61c6d772bec0d51891721f38cc0ffb8);
  background-size: cover;
}

.container .card:nth-child(4) .icon {
  background-image: url(https://qph.fs.quoracdn.net/main-qimg-a61c6d772bec0d51891721f38cc0ffb8);
  background-size: cover;
}

.container .card:nth-child(5) .icon {
  background-image: url(https://qph.fs.quoracdn.net/main-qimg-a61c6d772bec0d51891721f38cc0ffb8);
  background-size: cover;
}

.container .card:nth-child(6) .icon {
  background-image: url(https://qph.fs.quoracdn.net/main-qimg-a61c6d772bec0d51891721f38cc0ffb8);
  background-size: cover;
}

.container .card:nth-child(7) .icon {
  background-image: url(https://qph.fs.quoracdn.net/main-qimg-a61c6d772bec0d51891721f38cc0ffb8);
  background-size: cover;
}

.container .card:nth-child(8) .icon {
  background-image: url(https://qph.fs.quoracdn.net/main-qimg-a61c6d772bec0d51891721f38cc0ffb8);
  background-size: cover;
}

.container .card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  background: rgba(10,186,181, 0.55);
  transform: translateY(0px);
}

.container .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content i{
  max-width: 100px;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.container .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #414141;
} 

.container a {
  text-decoration: none;
  color: #414141;
}

footer
{
  display: flex;
  margin-top: 10px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5223a766e4b0a07a9893b1cb/1478618020878-SD3K8QJUKS86VRJHLUXF/ke17ZwdGBToddI8pDm48kEH8NjoedwmXMWM1Y05RPZ17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iy8Rj2bPXFyaluz0PeKicM99XUAZZ4vYM9zGDkJVpGPVPvo6NH8fvxWQSfmZeQ4eQ/kathleen+nyn+banner+watercolor+2+medium.jpg?format=1500w");
  /*background: #77A8B1;*/
  height: 50px;
  position: relative;
  flex-direction: column;
  justify-content: center; /*Horizontal alignment*/
  align-items: center; /*Vertical alignment*/
}

footer .endnote
{
  text-align: center;
  font-size: 8pt;
}

@media only screen and (max-width: 700px)
{
  header 
  {
      height: 210px;
  }

  header .longbio
  {
    display: none;
  }

  header .shortbio
  {
    font-family: playfair-display,serif;
    font-weight: 400 !important;
    font-style: italic !important;
    position: absolute;
    top: 170px;
    margin: 0 auto;
  }

  header .navigationBar
  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 0;
  }

  header .navigationBar a 
  {
    padding: 0px 15px;
    font-size: 15px;
  }

  header .navigationBar a:hover 
  {
    background: #ddd;
    color: black;
  }

  header .name
  {
    font-family: playfair-display, serif;
    font-weight: 900 !important;
    font-style: italic !important;
    font-size: 22pt;
    position: absolute;
    top: 90x;
  }

  header .shortbio
  {
    font-family: playfair-display,serif;
    font-weight: 400 !important;
    font-style: italic !important;
    position: absolute;
    top: 110px;
    margin: 0 auto;
    font-size: 13px;
  }

  header .social-nav 
  {
      position: absolute;
      bottom: -23%;
  }
    
  header .social-nav ul li 
  {
    display: inline-block; /*Display horizontally*/
    width: 50px;
    height: 50px;
    margin-right: 2em;
  }

  header .social-nav ul li a 
  {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid white;
  }

  #skills-list-1
  {
    top: 0px;
    left: 0px;
    width: 80%;
  }
  footer
  {
    margin-top: 10px;
  }
  
}

@media only screen and (min-width: 700px) 
{
  header .shortbio
  {
    display: none;
  }
  
  header .longbio
  {
    font-family: playfair-display,serif;
    font-weight: 400 !important;
    font-style: italic !important;
    position: absolute;
    top: 170px;
    margin: 0 auto;
  }

  footer
  {
    margin-top: 10px;
  }
}
